.SignUpPage_signup_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 15px 0;
}

.SignUpPage_signup_button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Account_question, .LogIn_link {
    font-size: 12px;
}

.Account_question {
    text-align: center;
}

.LogIn_link {
    margin-left: 5px;
}

fieldset {
    border: 0;
}