.SignUpPage_signup_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50% 15px;
}

.SignUpPage_signup_button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Account_question, .LogIn_link {
    font-size: 12px;
}

.LogIn_link {
    margin-left: 5px;
}