.LogInPage_login_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 15px 0;
}

.LogInPage_login_button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Account_question, .SignUp_link {
    font-size: 12px;
}

.SignUp_link {
    margin-left: 5px;
}