.LogInPage_main {
    min-height: 780px;
    background: linear-gradient(#197902, black);
}

.LogInPage_login_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 15px 0;
}

.LogInPage_login_button {
    background-color: #790255;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    margin-bottom: 30px;
}

.LogInPage_login_button:hover {
    background-color: white;;
    color: #790255;
    cursor: pointer;
}

.Account_question, .SignUp_link {
    font-size: 12px;
}

.Account_question {
    text-align: center;
    margin-bottom: 100px;
}

.SignUp_link {
    margin-left: 5px;
    color: #eafa04;
    text-decoration: none;
}

#LogInPage_password {
    margin-bottom: 50px;
}

#LogInPage_user_name {
    margin-bottom: 10px;
}

#LogInPage_password, #LogInPage_user_name {
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
}

legend {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    padding: 50px 0 0;
}

.label {
    margin-bottom: 6px;
    display: block;
}

@media screen and (min-width: 450px) {
    .LogInPage_login_button {
        width: 250px;
        height: 60px;
        font-size: 20px;
    }

    #LogInPage_password, #LogInPage_user_name {
        width: 300px;
        font-size: 18px;
    }
}

@media screen and (min-width: 650px) {
    .LogInPage_login_button {
        width: 280px;
        height: 65px;
    }

    #LogInPage_password, #LogInPage_user_name {
        width: 330px;
    }

    legend {
        font-size: 32px;
    }
}