.LandingPage_main {
    position: relative;
    height: 100vh;
    color: white;
    background: url('https://cdn4.iconfinder.com/data/icons/political-elections/50/29-512.png') no-repeat top center fixed, 
        linear-gradient(#197902, black);
    background-size: 140%;
}

.LandingPage_flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.LandingPage_content_section {
    margin: 120px 15px 0;
}

.LandingPage_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    margin-bottom: 15px;
}

.LandingPage_subtitle {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 120px;
}

.LandingPage_tagline {
    margin-bottom: 50px;
}

.LandingPage_login_button {
    margin-bottom: 30px;
    background-color: #790255;
    color: white;
}

.LandingPage_signup_button {
    background-color: white;;
    color: #790255;
}

.LandingPage_signup_button, .LandingPage_login_button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}

.LandingPage_signup_button:hover {
    background-color: #790255;
    color: white;
}

.LandingPage_login_button:hover {
    background-color: white;;
    color: #790255;
}

.LandingPage_signup_button:hover, .LandingPage_login_button:hover {
    cursor: pointer;
}

.LandingPage_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.LandingPage_icon {
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 25px;
    color: black;
}

@media screen and (min-width: 450px) {
    .LandingPage_title {
        font-size: 60px;
    }

    .LandingPage_subtitle {
        font-size: 28px;
        margin-bottom: 80px;
    }
    
    .LandingPage_tagline {
        font-size: 20px;
        margin-bottom: 70px;
    }

    .LandingPage_signup_button, .LandingPage_login_button {
        width: 250px;
        height: 60px;
        font-size: 20px;
    }
}

@media screen and (min-width: 500px) {
    .LandingPage_main {
        background-size: contain;
    }

    .LandingPage_subtitle {
        margin-bottom: 100px;
    }

    .LandingPage_tagline {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 650px) {
    .LandingPage_tagline {
        font-size: 22px;
    }

    .LandingPage_signup_button, .LandingPage_login_button {
        width: 280px;
        height: 65px;
    }

    .LandingPage_icon {
        right: 35px;
    }
}

@media screen and (min-width: 1050px) {
    .LandingPage_title {
        font-size: 65px;
    }

    .LandingPage_subtitle {
        font-size: 30px;
    }
    
    .LandingPage_tagline {
        font-size: 22px;
    }
}

@media screen and (min-width: 1300px) {
    .LandingPage_main {
        background: url('https://cdn4.iconfinder.com/data/icons/political-elections/50/29-512.png') no-repeat top left fixed, 
            linear-gradient(#197902, black);
        background-size: contain;
    }

    .LandingPage_flex_container {
        margin-left: 45%;
    }

    .LandingPage_content_section {
        margin-top: 90px;
    }

    .LandingPage_title {
        font-size: 70px;
    }

    .LandingPage_subtitle {
        font-size: 32px;
    }
    
    .LandingPage_tagline {
        font-size: 24px;
    }
}

@media screen and (min-width: 1400px) {
    .LandingPage_flex_container {
        margin-left: 40%;
    }   
}