.User_upcoming_interview {
    padding: 20px 40px 20px 20px;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
    position: relative;
    width: 280px;
    border: none;
    color: white;
}

li {
    list-style: none;
}

.User_upcoming_interview:hover {
    cursor: pointer;
}

.User_upcoming_interview:hover .Job_delete_button,
.User_upcoming_interview:hover .Job_edit_button {
    display: inline;
}

.Job_delete_button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    background: none;
    border: none;
    display: none;
    color: white;
}

.Job_delete_button:hover {
    cursor: pointer;
}

.Job_edit_button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 18px;
    background: none;
    border: none;
    display: none;
    color: white;
}

.Job_edit_button:hover {
    cursor: pointer;
}

.Job_status {
    font-size: 12px;
}

.Job_company {
    font-weight: bold;
}

.orange {
    background: #f7570d;
}

.purple {
    background: #772777;
}

.pink {
    background: #f31a75;
}

.blue {
    background: #2f2fa8;
}

.green {
    background: #199e19;
}

.bright_red {
    background: #ce1b1b;
}