.UserDashboard_flex_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 80px 15px 30px;
}

.UserDashboard_flex_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.UserDashboard_add_job {
    background-color: white;
    border: none;
    font-size: 35px;
    /* float: right;
    margin-right: 15px;
    margin-top: 15px; */
}

.UserDashboard_add_job:hover {
    cursor: pointer;
}

.UserDashboard_applied_title, .UserDashboard_phone_title, .UserDashboard_technical_title,
.UserDashboard_on_site_title, .UserDashboard_offers_title, .UserDashboard_rejected_title {
    text-align: center;
    margin-bottom: 30px;
}

.UserDashboard_upcoming, .UserDashboard_applied, .UserDashboard_phone, .UserDashboard_technical,
.UserDashboard_on_site, .UserDashboard_offers, .UserDashboard_rejected {
    margin-bottom: 50px;
}