.UserDashboard_flex_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 80px 15px 30px;
}

.UserDashboard_add_job {
    background-color: white;
    border: none;
    font-size: 35px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

.UserDashboard_add_job:hover {
    cursor: pointer;
}

.UserDashboard_applied_title, .UserDashboard_phone_title, .UserDashboard_technical_title {
    text-align: center;
    margin-bottom: 30px;
}

.UserDashboard_upcoming, .UserDashboard_applied, .UserDashboard_phone, .UserDashboard_technical {
    margin-bottom: 50px;
}