.UserDashboard_main {
    height: 100%;
    background: #f1f1f1;
    position: relative;
}

.UserDashboard_main_search {
    height: 100vh;
    background: #f1f1f1;
    position: relative;
}

.UserDashboard_flex_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 15px;
}

.Search_user_jobs {
    margin: 30px 15px;
}

#UserDashboard_job_search {
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
}

.UserDashboard_add_job {
    position: absolute;
    background: none;
    border: none;
    font-size: 35px;
    top: 85px;
    right: 15px;
    color: #197902;
}

.UserDashboard_add_job:hover {
    cursor: pointer;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.UserDashboard_upcoming, .UserDashboard_applied, .UserDashboard_phone, .UserDashboard_technical,
.UserDashboard_on_site, .UserDashboard_offers, .UserDashboard_rejected {
    margin-bottom: 40px;
}

@media screen and (min-width: 450px) {
    #UserDashboard_job_search {
        width: 250px;
        font-size: 18px;
    }
}

@media screen and (min-width: 550px) {
    .Search_user_jobs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .search {
        margin-right: 10px;
        font-size: 18px;
    }

    .UserDashboard_add_job {
        top: 80px;
    }
}

@media screen and (min-width: 600px) {
    .Search_user_jobs {
        justify-content: center;
    }
}

@media screen and (min-width: 700px) {
    #UserDashboard_job_search {
        width: 300px;
    }
}

@media screen and (min-width: 1300px) {
    .UserDashboard_flex_container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 60px 15px 40px;
    }

    .flex {
        width: calc(100% / 8);
    }
}