.EditJobModal_section {
    position: fixed;
    background-color: white;
    width: 80%;
    max-width: 600px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 15px;
}

.EditJobModal_edit_job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.EditJobModal_title {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
}

.EditJobModal_submit_button {
    align-self: center;
    background-color: #790255;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    margin-bottom: 30px;
}

.EditJobModal_submit_button:hover {
    background-color: white;;
    color: #790255;
    cursor: pointer;
    border: 2px solid #790255;
}

.Edit_status_and_salary, .Edit_dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Row_date_applied, .Row_salary {
    margin-right: 30px;
}