* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  height: 100vh;
  line-height: 1.5;
  letter-spacing: 1px;
}

.red {
  color: red;
  text-align: center;
}