* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Merriweather', serif;
	height: 100vh;
	line-height: 1.5;
	letter-spacing: 1.5px;
	background: #f1f1f1;
	color: white;
}

.red {
	color: red;
	text-align: center;
}

button {
	font-family: 'Montserrat', sans-serif;
}

fieldset {
	border: 0;
}