.hide {
    display: none;
}

.display {
    display: block;
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #197902b3;
    background: rgba(25, 121, 2, 0.702);
}

.AddJobModal_section {
    position: fixed;
    background: white;
    width: 80%;
    max-width: 600px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 15px;
}

.AddJobModal_add_job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.AddJobModal_title {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
}

.close_modal_button {
    position: absolute;
    top: -60px;
    right: 3px;
    border: none;
    background: none;
    font-size: 18px;
}

.close_modal_button:hover {
    cursor: pointer;
}

#notes {
    margin-bottom: 25px;
}

#company, #position, #location {
    margin-bottom: 10px;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

#salary, #date_applied, #interview_date, #application_status {
    width: 120px;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
}

#application_status {
    height: 30px;
}

.company, .position, .location, .salary, .date_applied, .interview_date, .application_status, .notes {
    margin-bottom: 2px;
    display: block;
}

.AddJobModal_submit_button {
    align-self: center;
    background-color: #790255;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    margin-bottom: 30px;
}

.AddJobModal_submit_button:hover {
    background-color: white;;
    color: #790255;
    cursor: pointer;
    border: 2px solid #790255;
}

@media screen and (min-width: 550px) {
    #company, #position, #location, #notes {
        width: 300px;
    }

    #salary, #date_applied, #interview_date, #application_status {
        width: 130px;
    }

    .AddJobModal_submit_button {
        width: 250px;
    }
}

@media screen and (min-width: 750px) {
    #company, #position, #location, #notes {
        width: 350px;
    }

    #salary, #date_applied, #interview_date, #application_status {
        width: 160px;
    }
}