.SleuthHeader_main {
    padding: 15px;
    background-color: none;
}

.SleuthHeader_main_color {
    padding: 15px;
    background-color: #197902;
}

.SleuthHeader_header_logout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.SleuthHeader_header_nologout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.SleuthHeader_icon_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.SleuthHeader_icon_nologout, .SleuthHeader_icon {
    margin-right: 10px;
    font-size: 25px;
    color: black;
}

.SleuthHeader_logout {
    font-size: 22px;
    background-color: none;
    border: none;
    background: none;
    position: absolute;
    top: -13px;
    right: 3px;
}

.SleuthHeader_logout:hover {
    cursor: pointer;
    color: white;
}

.SleuthHeader_title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.SleuthHeader_title_logout {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.Tooltip_logout {
    position: relative;
}

.Tooltip_logout_text {
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    top: -14px;
    right: 43px;
    width: 100px;
    background: black;
    color: white;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.Tooltip_logout:hover .Tooltip_logout_text {
    visibility: visible;
}

.Tooltip_logout_text::after {
    position: absolute;
    content: '';
    top: 4px;
    right: -17px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

@media screen and (min-width: 1300px) {
    .SleuthHeader_logout {
        font-size: 30px;
        top: -17px;
    }

    .Tooltip_logout_text {
        right: 50px;
    }
}